.TodoList {
  /* margin: 4rem auto; */
  padding: 2rem 3rem 3rem;
  /* max-width: 500px; */
  /* background: #ff6666; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
  width: 100%;
}

/* .TodoList ul :hover {
  text-decoration: line-through;
} */

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}
.Todo-buttons .Detail {
  padding: 0 1.3rem;
  border: none;
  background: #66ff94;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transform: background 0.2s ease-out;
}
.Todo-buttons .Remove {
  padding: 0 1.3rem;
  border: none;
  background: #ff8566;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transform: background 0.2s ease-out;
}